_reference_os: &reference_os # creo un puntatore alla chiave custom creata "_reference_os". I puntatori possono puntare qualsiasi cosa, quando faccio *puntatore mi porto dietro tutto ciò che è puntato.
  linux
_reference_arch: &reference_arch
  amd64
_reference_jdk: &reference_jdk
  JDK="adopt@1.11"

language: minimal

git:
  depth: false
  autocrlf: input

os:
  - *reference_os
  - osx
  - windows

dist: focal # "dist" definisce la distribuzione di linux

#osx_image: xcode9.4 # "osx_image" definisce la distribuzione di osx

arch:
  - *reference_arch
  - arm64

env:
  global:
    - GRAVIS_REPO="https://github.com/DanySK/Gravis-CI.git"
    - GRAVIS="$HOME/gravis"
    - JDK="adopt@1.11.0-8"
  matrix:
    - *reference_jdk
    - JDK="adopt@1.8"
    - JDK="adopt@1.14"
    - JDK="adopt-openj9@1.11"
    - JDK="adopt-openj9@1.8"
    - JDK="adopt-openj9@1.14"

stages:
  - Compile
  - Kotlin Style Check
  - Check # in questo modo prima eseguo lo stage "check" poi lo stage "test"
  - test

_reference_machine: &reference_machine
  arch: *reference_arch
  os: *reference_os
  env: *reference_jdk

jobs: # consente di specificare condizioni per cui determinati job devono essere inclusi o esclusi
  exclude: # escludi le combinazioni in cui architetttura è arm64 e hanno come chiave di ambiente JDK="adopt-openj9@1.8" o JDK="adopt-openj9@1.14"
    - arch: arm64
      env: JDK="adopt-openj9@1.8"
    - arch: arm64
      env: JDK="adopt-openj9@1.14"
    - <<: *reference_machine # metti qui dentro la cosa puntata da _reference_machine e su quell'oggetto fai le modifiche indicate sotto (fai overrida dell'eventuale chiave "stage" con "stage: test"
      stage: test
  include:
    - <<: *reference_machine
      stage: Compile
      script: ./gradlew compile --parallel
    - <<: *reference_machine
      stage: Kotlin Style Check
      script: ./gradlew detekt ktlintCheck --parallel
    - <<: *reference_machine
      stage: Check # gli dico che questa include fa riferimento allo stage chiamato "check".
      script:
        - travis_retry sh ./gradlew check

before_install:
  - travis_retry git clone --depth 1 $GRAVIS_REPO $GRAVIS
  - source $GRAVIS/install-jdk

install:
  - true

script:
  - travis_retry sh ./gradlew test